.login-container{
    width: 100%;
    height: 100vh;
    background-color: #cdcdcd;
    padding-top: 200px;
}
.login-container .form{
    width: 35%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.login-container .form input{
    height: 40px;
    margin-bottom: 20px;
    padding-left: 5px;
    font-size: 1rem;
}
.login-container .form button{
    height: 35px;
    font-size: 1rem;
}
@media (max-width: 1024px) {
    .login-container .form{
        width: 80%;
    }
}