
.user-container__header{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    border-bottom: 3px solid var(--orange);
}
.table-container__user{
    padding: 10px;
    background-color: #fff;
    border-left: 3px solid var(--orange);
    border-radius: 4px;
}
.css-11mde6h-MuiPaper-root{
    box-shadow: none !important;
}